body {
    background-color: #F4D04E;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
}

.card {
    width: 350px;
    height: 500px;
    display: grid;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 10px 10px 0 0 black;
    border: 2px solid;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}


.card  .category {
    background-color: #F4D04E;
    font-weight: 800;
    padding: 5px 10px;
    border-radius: 6px;
    width: fit-content;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.card .date {
    font-size: 14px;
    font-weight: 500;
}

.card .address {
    font-size: 20px;
    font-weight: 800;
}

.card .address:hover {
    color: #F4D04E;
    cursor: pointer;
}

.card .definition {
    color: hsl(0, 0%, 42%);
    font-weight: 500;
}

.card .profile {
    display: flex;
    align-items: center;
    margin-top: 8px;
    gap: 10px;
}

.profile img {
    width: 26px;
    height: 26px;
}

.card-image {
    width: 100%;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
}

.card .name {
    font-weight: 800;
}

@media (max-width: 375px) {
    .card {
        width: 75%;
        height: auto;
    }

    .card-image {
        width: 100%;
    }

    .card-image, .card .category, .card .date, .card .address, .card .definition, .card .profile {
        margin-top: 10px;
    }
}
